In [110]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import *
import json
import numpy as np
import string
from datetime import *
import re

In [92]:
df = pd.read_json('all_movies.json').T

In [93]:
df.isna().sum()

title             16
release           29
popularity        16
budget            16
genres            16
overview          16
language          16
votes             16
status            16
cast              16
director          35
screenwriter    1326
producer         423
music           2674
dtype: int64

In [94]:
df.dropna(subset=['title', 'release'], inplace = True)

In [95]:
df.isna().sum()

title              0
release            0
popularity         0
budget             0
genres             0
overview           0
language           0
votes              0
status             0
cast               0
director          12
screenwriter    1299
producer         398
music           2645
dtype: int64

In [96]:
df[['release', 'votes']] = df[['release', 'votes']].astype('int64')
df[['popularity', 'budget']] = df[['popularity','budget']].astype('float64')

In [97]:
df = df[np.logical_not(df['director'].isna() & df['screenwriter'].isna() & df['producer'].isna() & df['music'].isna())]
#Filtered out movies whose director, screenwriter, producer and music director are all not available
df = df[np.logical_not(df['screenwriter'].isna() & df['producer'].isna() & df['music'].isna())]

In [98]:
df = df.dropna(subset=['director'])

In [99]:
df.groupby('status').count()

,title,release,popularity,budget,genres,overview,language,votes,cast,director,screenwriter,producer,music
status,,,,,,,,,,,,,
Post Production,1,1,1,1,1,1,1,1,1,1,0,1,0
Released,2856,2856,2856,2856,2856,2856,2856,2856,2856,2856,1850,2748,504

In [100]:
df = df[df['status'] == 'Released']

In [101]:
df.groupby('status').count()

,title,release,popularity,budget,genres,overview,language,votes,cast,director,screenwriter,producer,music
status,,,,,,,,,,,,,
Released,2856,2856,2856,2856,2856,2856,2856,2856,2856,2856,1850,2748,504

In [102]:
df = df[df['status'] == 'Released']

In [103]:
def isEmpty(lst):
    if lst == []:
        return True
    return False

In [104]:
exists = []
for cast in df['cast']:
    exists.append(isEmpty(cast))
exists = np.logical_not(exists)
#Movies for which the cast has not been recorded

In [105]:
df = df[exists]

In [106]:
df.head()

,title,release,popularity,budget,genres,overview,language,votes,status,cast,director,screenwriter,producer,music
All About Eve,All About Eve,1950,18.255,1400000.0,[Drama],From the moment she glimpses her idol at the s...,en,879,Released,"[Bette Davis, Anne Baxter, George Sanders]",Joseph L. Mankiewicz,Joseph L. Mankiewicz,Darryl F. Zanuck,Urban Thielmann
Sunset Boulevard,Sunset Boulevard,1950,16.261,1752000.0,[Drama],A hack screenwriter writes a screenplay for a ...,en,1396,Released,"[William Holden, Gloria Swanson, Erich von Str...",Billy Wilder,Billy Wilder,Charles Brackett,None
In a Lonely Place,In a Lonely Place,1950,9.921,0.0,"[Mystery, Thriller]",An aspiring actress begins to suspect that her...,en,269,Released,"[Humphrey Bogart, Gloria Grahame, Frank Lovejoy]",Nicholas Ray,Andrew Solt,Robert Lord,None
A Streetcar Named Desire,A Streetcar Named Desire,1951,13.575,1800000.0,[Drama],Disturbed Blanche DuBois moves in with her sis...,en,744,Released,"[Vivien Leigh, Marlon Brando, Kim Hunter]",Elia Kazan,Tennessee Williams,Charles K. Feldman,None
An American in Paris,An American in Paris,1951,11.251,2723903.0,"[Comedy, Drama, Music, Romance]",Jerry Mulligan is an exuberant American expatr...,en,318,Released,"[Gene Kelly, Leslie Caron, Oscar Levant]",Vincente Minnelli,Alan Jay Lerner,Arthur Freed,George Gershwin

In [156]:
def isDiff(a:str, b:str):
    table = str.maketrans("", "", string.punctuation)
    _a = a.translate(table)
    _b = b.translate(table)
    _a = re.sub(r' \(.*\)', '', _a)
    _b = re.sub(r' \(.*\)', '', _b)
    _a = re.sub(r' ?: ?.*','',_a)
    _b = re.sub(r' ?: ?.*', '', _b)
    return _a.lower() != _b.lower()

In [157]:
unequalid = []
for idx, n in df.iterrows():
    if isDiff(n['title'], idx):
        unequalid.append(idx)

In [159]:
df.loc[unequalid]

,title,release,popularity,budget,genres,overview,language,votes,status,cast,director,screenwriter,producer,music
Rashomon,Tombstone Rashomon,2017,4.100,0.0,[Western],The Gunfight at the OK Corral only happened on...,en,0,Released,"[Adam Newberry, Jesse Lee Pacheco, Christine D...",Alex Cox,None,Alex Cox,Dan Wool
Seven Samurai,Seven Samurai: Origins and Influences,2006,0.600,0.0,[Documentary],"Seven Samurai: Origins and Influences, a docum...",ja,0,Released,"[Stephen Prince, Joan Mellen, Tadao Sato]",Marty Gross,None,Kim Hendrickson,None
Wild Strawberries,Frisky Summer 3: Wild Strawberries,1998,0.600,0.0,[],"It's summer again. The sky is bright, the sun ...",en,0,Released,"[Erik Kovac, Gerard Kilian, Ion Davidov]",George Duroy,None,George Duroy,B.K. Sun
The Leopard,The Leopard Man,1943,6.335,0.0,"[Mystery, Horror, Thriller]",When a leopard escapes during a publicity stun...,en,52,Released,"[Dennis O'Keefe, Jean Brooks, James Bell]",Jacques Tourneur,Ardel Wray,Val Lewton,None
Masculin Feminin,Masculin Féminin,1966,9.646,0.0,"[Drama, Romance]","With Masculin feminin, ruthless stylist and ic...",fr,167,Released,"[Jean-Pierre Léaud, Chantal Goya, Marlène Jobert]",Jean-Luc Godard,None,Anatole Dauman,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Birds of Prey,Birds of Prey (and the Fantabulous Emancipatio...,2020,89.685,75000000.0,"[Action, Crime, Comedy]","Harley Quinn joins forces with a singer, an as...",en,4635,Released,"[Margot Robbie, Ewan McGregor, Mary Elizabeth ...",Cathy Yan,Christina Hodson,Margot Robbie,None
End of Sentence,Period. End of Sentence.,2018,9.978,0.0,[Documentary],"In an effort to improve feminine hygiene, a ma...",en,172,Released,"[Arunachalam Muruganatham, Ajeya, Anita]",Rayka Zehtabchi,None,Garrett K. Schiff,None
Bull,Raging Bull,1980,22.305,18000000.0,[Drama],When Jake LaMotta steps into a boxing ring and...,en,2476,Released,"[Robert De Niro, Joe Pesci, Cathy Moriarty]",Martin Scorsese,Paul Schrader,Irwin Winkler,Pietro Mascagni
The Truth,Nothing But the Truth,2008,18.351,11500000.0,"[Drama, Thriller]",When reporter Rachel Armstrong writes a story ...,en,272,Released,"[Kate Beckinsale, Matt Dillon, Alan Alda]",Rod Lurie,Rod Lurie,Bob Yari,Larry Groupé
Judy & Punch,Judy,2019,23.718,0.0,[Drama],Winter 1968 and showbiz legend Judy Garland ar...,en,492,Released,"[Renée Zellweger, Rufus Sewell, Finn Wittrock]",Rupert Goold,Tom Edge,David Livingstone,None